.local-stream-card {
  background-color: lightgray;
  padding: 0px;
  border-radius: 3px;
  line-height: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.local-stream-card-video {
  border-radius: 3px;
  width: 266px;
  height: 150px;
}
